/* 隔一行展示省略号 */
.ellipsis1 {
  white-space: nowrap;
  overflow: hidden;
  /* 文本溢出显示省略号 */
  text-overflow: ellipsis;
}
/* 隔两行展示省略号 */
.ellipsis2 {
  display: -webkit-box;
  overflow: hidden;
  /* 文本溢出显示省略号 */
  text-overflow: ellipsis;
  /* 控制文字行数 */
  -webkit-line-clamp: 2;
  /* 子元素数值排列 */
  -webkit-box-orient: vertical;
}

.con {
  font-size: 14px;
  color: #666;
  width: 600px;
  margin: 50px auto;
  border-radius: 8px;
  padding: 15px;
  overflow: hidden;
  resize: horizontal;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.wrap {
  position: relative;
  line-height: 2;
  height: 2em;
  padding: 0 10px;
  overflow: hidden;
  background: #fff;
  margin: 5px 0;
}

.wrap:nth-child(odd) {
  background: #f5f5f5;
}

.title {
  display: block;
  position: relative;
  background: inherit;
  text-align: justify;
  height: 2em;
  overflow: hidden;
  top: -4em;
}

.txt {
  display: block;
  max-height: 4em;
}
.title::before{
  content: attr(title);
  width: 50%;
  float: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
}

