.search {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--background);
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: transparent;
    color: #333;
    &::placeholder {
      color: #aaa;
    }
  }
  .offscreen {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  .spinner {
    display: inline-block;
    width: 1em;
    height: 1em;
    &--active {
      border: 0.15em solid currentColor;
      border-right-color: transparent;
      border-radius: 50%;
      animation: spinner 0.75s linear infinite;
    }
    @keyframes spinner {
      to {
        transform: rotate(360deg);
      }
    }
  }
}