.del-btn {
  border: 1px solid #0070f3;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  img {
    margin-right: 0.5rem;
  }
}


