body {
  margin: 0;
}
.box {
  margin: 20px;
  padding: 20px;
  border: 10px solid black;
  position: relative;
  overflow: hidden;
  background: yellow;
}
.box-item {
  margin: 10px;
  background: red;
}
.box-item[data-attr=data-value] {
  color: #E57859;
}
/* 以data开头 */
.box-item[data-attr|=data] {
  color: #CB6173;
}
/* 包含value */
.box-item[data-attr*=value] {
  color: #6F8D66;
}
/* 以da开头 */
.box-item[data-attr^=da] {
  color: #9C6CAA;
}
/* 以ue结尾 */
.box-item[data-attr$=ue] {
  color: #D3851E;
}
.float-right {
  height: 200px;
  float: right;
  background: yellowgreen;
}
.box-item3 {
  background: green;
  overflow: hidden;
}
.box-absolute {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #CB6173;
  top: 0;
  left: 0;
}
.box3 {
  width: 100px;
  height: 200px;
  background: darkgray;
  position: relative;
}
.box-item4 {
  position: absolute;
  /* 对于高度设置百分比 */
  /* top: 20%; */
  /* 对于宽度设置百分比 */
  /* left: 20%; */
  /* 对于宽度设置百分比 */
  /* right: 20%; */
  /* 对于高度设置百分比 */
  bottom: 20%;
}

.box4 {
  padding: 30px;
  margin: 10px;
  border: 10px solid black;
  position: relative;
}

.box4-item {
  position: absolute;
  top: 0;
  left: 0;
}
.box5 {
  width: 100%;
  height: 100vh;
}

/* sticky 默认跟relative类似，滚动的时候类似fixed吸顶 */
.box5-item {
  position: sticky;
  top: 20px;
  left: 0;
}

/* 要使父元素形成块级格式化上下文（BFC），只需添加以下任一 CSS 样式即可： */
.parent {
  display: flow-root; /* 最安全的方式，专为创建 BFC 设计 */
}
/* 方式 1 */
.parent {
  overflow: hidden; /* 或 auto/scroll */
}

/* 方式 2 */
.parent {
  float: left; /* 或 right */
}

/* 方式 3 */
.parent {
  position: absolute; /* 或 fixed */
}

/* 方式 4 */
.parent {
  display: inline-block; /* 或 table-cell/table-caption/flex/inline-flex/grid/inline-grid */
}

/* 方式 5 */
.parent {
  contain: layout; /* 新特性，部分浏览器支持 */
}