@mixin _vant-confirm-dialog-primary {
  box-sizing: border-box;
  width: 590px !important;
  padding: 48px 40px !important;

  .van-dialog__header {
    padding-top: 0;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    margin-bottom: 24px;
  }

  .vant-confirm-dialog-primary-close {
    font-size: 40px;
    color: #DADADA;
    font-weight: 400;
    position: absolute;
    right: 24px;
    top: 24px;
  }

  .van-dialog__message {
    font-size: 32px;
    line-height: 48px;
    color: #666666;
    text-align: left;
    padding: 0;
  }

  .van-button {
    width: 244px;
    height: 80px;
    text-align: center;
    line-height: 82px;
    font-size: 32px;
    font-weight: 600;
    border-radius: 100px;
    flex: none;
  }

  .van-dialog__confirm {
    color: #ffffff;
    background-color: #0056FE;
    flex: 1;
  }

  .van-dialog__cancel {
    background-color: #F1F1F1;
    color: #999999;
  }

  .van-dialog__footer {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;

    button:nth-child(2) {
      margin-left: 24px;
    }
  }
}

.vant-confirm-dialog-primary {
  @include _vant-confirm-dialog-primary
}

:deep(.vant-confirm-dialog-primary) {
  @include _vant-confirm-dialog-primary
}
