.box {
  width: 800px;
  height: 500px;
  background-color: #fac;
  font-size: 24px;
  font-weight: 700;
  margin: 100px auto;
  display: flex;
}

.box-left {
  flex: 1;
  margin-right: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.box-left .item,
.main .item,
.header,
.footer {
  padding: 30px;
  text-align: center;
  border: 1px solid #000;
}

.box-left .item:nth-child(1) {
  background: red;
  flex: 3;
}

.box-left .item:nth-child(2) {
  background: pink;
  margin: 10px 0;
  flex: 1;
}

.box-left .item:nth-child(3) {
  background: purple;
  flex: 1;
}

.box-right {
  flex: 2;
  height: 370px;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 1;
  background: yellow;
}

.main {
  flex: 1;
  margin: 10px 0;
  display: flex;
}

.main .item:nth-child(1) {
  flex: 1;
  background: blue;
  margin-right: 10px;
}

.main .item:nth-child(2) {
  flex: 1;
  background: green;
}

.footer {
  flex: 1;
  background: orange;
}

.box2 {
  display: flex;
}
.box2-item-left {
  width: 100px;
  background: saddlebrown;
}

/* flex设置三个值 flex-grow flex-shrink flex-basic */
/* flex: 2 相当于 2 1 0 */
/* flex: 1 相当于 1 1 0 */
/* flex: auto 相当于 1 1 auto */
/* flex: none 相当于 0 0 auto */

/* flex: auto 和 1 的区别是 auto在伸缩时考虑自身的大小 */
.box2-item-right-auto {
  flex: auto;
  background: lawngreen;
}
.box2-item-right-1 {
  flex: 1;
  background: lawngreen;
}

.inner-box {
  width: 400px;
  height: 400px;
  background: silver;
}