.item {
  padding: 30px;
  text-align: center;
  border: 1px solid #000;
}

.box {
  width: 800px;
  height: 500px;
  background-color: #fac;
  font-size: 24px;
  font-weight: 700;
  margin: 100px auto;
  display: grid;
  /* 2行 2列 */
  grid-template: repeat(3, auto) / repeat(3, auto);

  /* grid-auto-flow: dense; */
  /* grid-gap: 10px; */
  /* grid-template-co2lumns: 100px 100px; */
  /* grid-template-columns: repeat(2, 100px); */
  /* grid-template-columns: repeat(auto-fill, 150px); */
  /* grid-template-columns: 1fr 2fr; */
  /* grid-template-columns: minmax(100px, 200px) 1fr; */
  /* grid-template-columns: 200px auto 100px; */
  /* grid-template-columns: fit-content(100px) auto 100px; */

  /* stretch: 网格项拉伸填满单元格 */
  /* justify-items,用于控制网格项在网格单元格内的 水平对齐 方式,可选值：start end center stretch*/
  /* justify-items: center; */
  /* align-items,用于控制网格项在网格单元格内的 垂直对齐 方式,可选值：start end center stretch baseline*/
  /* align-items: end; */
  /* place-items: center center; */

  /* align-content，控制网格内容在 垂直方向 上的对齐方式，可选值：start end center stretch space-between space-around space-evenly*/
  /* align-content: space-evenly; */
  /* justify-content，控制网格内容在 水平方向 上的对齐方式，可选值：start end center stretch space-between space-around space-evenly*/
  /* justify-content: space-between; */
  /* place-content: center center; */

  /* 2行 列高100px，2列 行宽300px */
  /* grid-template: repeat(2, 100px) /repeat(2, 300px); */

  /* 超出的每列 列高200px */
  grid-auto-rows: 200px;
  /* 超出的每行 行宽200px */
  /* grid-auto-columns: 200px; */
}

.item:nth-child(1) {
  grid-row-start: span 2;
  background: red;
  /* justify-self: center;
  align-self: end; */
  /* place-self: end center; */
}

.item:nth-child(2) {
  grid-column-start: span 2;
  background: yellow;
}

.item:nth-child(3) {
  background: blue;
}

.item:nth-child(4) {
  background: green;
}

.item:nth-child(5) {
  background: pink;
}

.item:nth-child(6) {
  background: orange;
  grid-column-start: span 2;
}

.item:nth-child(7) {
  background: purple;
}

.grid-box {
  width: 800px;
  height: 500px;
  background-color: #fac;
  font-size: 24px;
  font-weight: 700;
  margin: 100px auto;
  display: grid;
  /* 先行后列 */
  grid-auto-flow: row;
  grid-template:
  ". header" 100px
  "aside main" 300px
  "footer footer" 200px;
  /* grid-column-gap: 10px;
  grid-row-gap: 20px; */
  grid-gap: 20px 10px;
}

.grid-box-item:nth-child(1) {
  background: red;
  grid-area: header;
}

.grid-box-item:nth-child(2) {
  background: yellow;
  grid-area: aside;
}

.grid-box-item:nth-child(3) {
  background: yellowgreen;
  grid-area: main;
}

.grid-box-item:nth-child(4) {
  background: blue;
  grid-area: footer
}
